*{
    text-decoration: none !important
}


/* Mashead componant-------------------------------------------------------- */
.typewrite{
    color: rgba(255,255,255,.9);
}
.typewrite:hover{
    color: rgba(255,255,255);
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.head{
  height: 100vh;
}


/* Contact Component ---------------------------------------------------*/
#contact{
  background-color: rgba(255,255,255,.7);

}
#backgroundContact{
  padding-top: 5rem;
  padding-bottom: 0;
  background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(./bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
#iconSocial{
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fa-linkedin{
  margin: 0 10px 0 10px;
}


/* Navbar component -----------------------------------------------------------*/
.speak{
position: relative;
display: inline-block;
min-width: 2.7em;
margin: 1em;
text-align: center;
cursor: pointer;
}

.speak span {
transition: color 0.3s ease-out;
color: inherit;
}

.speak:after,
.speak:before,
.speak span:after,
.speak span:before {
color: #333333;
background-color: currentColor;
}

.two:before,
.two span:before,
.two span:after,
.two:after{
  background-color: #f4623a;
}

.speak:after,
.speak:before,
.speak span:before,
.speak span:after {
position: absolute;
content: '';
border-radius: 4px;
}

.speak:after,
.speak:before {
bottom: -6px;
height: 4px;
}

.speak:after {
left: 0;
right: 39px;
}

.speak:before {
right: -2px;
width: 13px;
}

.speak span:before {
height: 0;
width: 4px;
bottom: -2px;
right: 7px;
transition: height .3s, bottom .3s;
}

.speak span:after {
height: 4px;
width: 34px;
bottom: -6px;
right: 8px;
transform: rotate(0deg);
transform-origin: left top;
transition: transform .3s, right .3s, width .3s;
}

.speak.active span:before {
height: 22px;
bottom: -24px;
}

.speak.active span:after {
right: 1px;
width: 40px;
transform: rotate(30deg);
}

.speak.active,
.speak.active {
outline: 0;
}


/* About component------------------------------------------------------- */
.aboutComponent{
  background: linear-gradient(to bottom,rgba(92, 77, 66, 0.5) 0,rgba(92,77,66,.8) 100%),url(./inma-lesielle-P4mdtPtsHMQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
}

.fixed-top-mini {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 1;
}
#textCV{
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-primary-leftBar {
  background-color: #f4623abe!important;
}
@media (min-width: 992px){
  #sideNav {
      text-align: center;
      position: relative;
      flex-direction: column;
      width: 100%;
      height: 100vh;
  }
}

@media (min-width: 768px){
  section.resume-section {
      min-height: 50vh;
  }
}

/* Project component------------------------------------- */
#backgroundProject{
  padding-top: 5rem;
  padding-bottom: 0;
  background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92, 77, 66, 0.616) 100%),url(./15632654535d2d89ad3a0784.03945644.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
}
#projectBoard{
  min-height: 100vh;
  margin-top: 2rem;
}
.project{
  border: 10px solid rgba(255, 166, 0, 0);
}